body {
    background: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 700 !important;
  }
  
  h1 {
    background-color: black !important;
    color: white !important;
    
    font-weight: 700 !important;
    font-size: 24px !important;
  }
  
  h1.form-control {
    border: none;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 20px;
    box-shadow: none;
    user-select: none;
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  
  .todo-item span {
    flex-grow: 1;
    display: inline-block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .todo-item:hover {
    background-color: #141414;
    border-color: white;
  }
  
  .todo-list {
    padding: 10px;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .todo-list {
      margin: 20px 5px !important;
    }
  }
  
  #reset-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  #reset-btn:hover {
    background-color: #e93f50;
  }
  
  #add-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #add-btn:hover {
    background-color: #1a81f0;
  }
  
  .btn-group {
    display: flex;
    gap: 10px;
  }